/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  
    /* Lætur skroll innan síðu taka tíma */
    scroll-behavior: smooth;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Breytur sem skal nota */
  
  :root {
    /* Grunn bilið okkar er 1rem == 16px */
    --spacing: 1rem;
    /* Hámarksbreidd á efni */
    --max-width: 1200px;
  
    --color-primary: #f0f0f8;
  
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;
  
    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base: 'Nunito', Helvetica, Arial, sans-serif;
    --font-family-heading: 'Domine', Georgia, serif;
  }
  
  /* Leturgerðir */
  
  /* TODO Setja upp leturgerðir */
  
  /* Almennt */
  
  body {
    color: var(--color-text);
    font-size: var(--font-base-body-px);
    line-height: 1.5;
    font-family: var(--font-family-base);
    font-family: var(--font-family-heading);
  }

  .wrapper{
    max-width: var(--max-width);
    margin: 0 auto;
    
    
  }
  
  h1, h2, h3 {
    font-family: var(--font-family-heading);
    
  }

  p{
    margin-bottom: var(--spacing);
    
  }

  h3{
    margin-bottom: var(--spacing);
  }


  header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-header);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(myndir/header.jpg);
    margin-bottom: var(--spacing);
    font-family: var(--font-family-heading);
  }
header .content {
  margin: auto;
}
header .protection{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  }
  
  img {
    max-width: 100%;
  }
  
  header{
    margin-bottom: calc(var(--spacing)*4);
  }

  h1{
    font-size: 5rem
  }
  header .content h1{
  margin-bottom: var(--spacing);
  }

  header .content .text{
    margin-bottom: var(--spacing);
    font-size: 2rem;
  }


  
  header .content .button {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 5px;
    color: var(--color-text);
    background-color: var(--color-header);
    margin-bottom:var(--spacing) ;

    /* TODO útlit á button */
  }
  
  a{
    text-decoration: none;
  }

  .button{
    display: inline-block;
    padding: 0.4rem;
    border-radius: 5px;
    color: var(--color-text);
    background-color: var(--color-primary);
    margin-bottom:var(--spacing) ;
    font-family: var(--font-family-base);
  }

  
   .button-secondary {
    display: inline-block;
    padding: 0.4rem;
    border-radius: 5px;
    background-color: white;
  }
  
  /* Layout */
  
  main {
    margin: 0 auto;
    max-width: var(--max-width);
  }

  .top{
    display: flex;
  }

  .top .info{
    display: flex;
    flex-direction: row;
    margin-bottom: calc(var(--spacing)*5);
    
  }
  

  .top .info .left {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-bottom: var(--spacing);
    margin: auto;
    margin-right: var(--spacing);
    text-align: left;
   margin-right:calc(var(--spacing)*5);
  }
  
  .top .info .picture{
    display: flex;
    width: 50%;
    transform: rotate(3deg);
  }

  
   .top .info .left .kicker{
    font-size: 14px;
    text-transform: capitalize;
  }

  .top .info .left p{
    margin-bottom: calc(var(--spacing)*2);
  }



  .reason{
    display: flex;
  }

  .reason .info {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: calc(var(--spacing)*5);
  }

  .reason .info .right{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-bottom: var(--spacing);
    margin: auto;
    margin-right: var(--spacing);
    text-align: left;
   margin-right:calc(var(--spacing)*5);
  }

  .reason .info .picture{
    display: flex;
    width: 50%;
    transform: rotate(-3deg);
  }

  .reason .info .rigt .kicker{
    font-size: 14px;
    text-transform: capitalize;
  }

  .reason .info .rigt p {
    margin-bottom: calc(var(--spacing)*2);
    margin-bottom: 2rem;
  }

  .cards .content {
    display: flex;
    align-items: stretch;
    margin-bottom: var(--spacing);
  }

  .cards .content .card{
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
    margin-right: var(--spacing);
    border: 0.5px solid var(--color-text);
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
  }

  .cards .content .card p {
    margin-bottom: var(--spacing);
    
  }

  .cards .content .card .button .button-secondary{
    align-content: flex-end;
  }

  .cards .content .card .picture{
    order: -1;
  }

   .cards .content .card img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }



  .cards .content-two {
    display: flex;
    align-items: stretch;
    margin-bottom: var(--spacing);
  }

  .cards .content-two .card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid var(--color-text);
    border-top: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100%;
    
    width: 100%;
    margin-right: var(--spacing);
    
  }

  .cards .content-two .card p {
    display: flex;
    flex: 1;
    margin-bottom: var(--spacing);
  }

  .cards .content-two .card .button .button-secondary{
    align-content: flex-end;
  }

  .cards .content-two .card .picture{
    order: -1;
  }

   .cards .content-two .card img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  footer{
    text-align: center;
    margin-top: var(--spacing);
    padding: var(--spacing) 0;
    background-color: var(--color-primary);
  }

  

  
  
  
  

  
  



  




  